<% if @search %>
  <div class="search"><%= @search.length %> results for <%= @query.join(', ').gsub('%23','#') %></div>
<% end %>

<% @posts.each do |post| %>
<div class="post">
  <h1> <a href="/<%= post[:id] %>/<%= post[:slug] %>"><%= post[:title] %></a> </h1>
  <p class="date">Posted <%= post[:date].strftime("%b %d, %Y") %></p>
    <%= @markdown.render post[:summary] %>
  <p class="tags">
    <% post[:tags].each_with_index do |tag,index| %>
      <a href="/tag/<%= tag[:link] %>"><%= tag[:tag] %><% if post[:tags].length-1 != index %>,<% end %></a>
    <% end %>
  </p>

</div>
<% end %>

<div class="paginate">
  <% if @paginate > 9 %>
    <a href="?p=<%= @paginate-10 %><%= "&q="+params[:q] if params[:q] %>">Prev</a>
  <% end %>
  <% if @posts.length > 9 %>
    <a href="?p=<%= @paginate+10 %><%= "&q="+params[:q] if params[:q] %>">Next</a>
  <% end %>
</div>
