<div class="post">

<% if @search %>
  <h5><%= @search.length %> results for <%= @query.join(', ').gsub('%23','#') %></h5>
<% end %>

<% @posts.each do |post| %>
  <h1> <a href="/<%= post[:id] %>/<%= post[:slug] %>"><%= post[:title] %></a> </h1>
  <p class="date">Posted <%= post[:date].strftime("%b %d, %Y") %></p>
    <%= @markdown.render post[:summary] %>
    <p><a href="/<%= post[:id] %>/<%= post[:slug] %>">Read More</a></p>
  <p class="tags">
    <% post[:tags].each do |tag| %>
      <a href="/tag/<%= tag[:link] %>"><%= tag[:tag] %></a>
    <% end %>
  </p>

<% end %>
</div>

<div class="paginate">
  <% if @paginate > 9 %>
    <a href="?p=<%= @paginate-10 %><%= "&q="+params[:q] if params[:q] %>">Prev</a>
  <% end %>
  <% if @posts.length > 9 %>
    <a href="?p=<%= @paginate+10 %><%= "&q="+params[:q] if params[:q] %>">Next</a>
  <% end %>
</div>
