<style type="text/css">
  .new {
    padding: 40px;
    font-size: 20pt;
  }

  .new input {
    font-size: 12pt;
    width: 600px;
    padding: 6px;
  }

  .new textarea {
    padding: 6px;
    font-size: 12pt;
    width: 600px;
    height: 400px;
  }
  .new label, .new button {
    margin-top: 20px;
    display: block;
  }
</style>

<a href="/logout">Logout</a>

<% if params[:preview] %>
<div class="post">
  <h3><%= params['subject'] %></h3>
  <p class="date">Posted <%= DateTime.now.strftime("%b %d, %Y") %></p>
  <%= @markdown.render params['content'] %>
  <h4 class="tags">
  <% params['tags'].split(',').each do |tag| %>
    <a><%= tag.strip %></a>
  <% end %>
  </h4>
  <h3>Summary</h3>
  <%= @markdown.render params['summary'] %>
</div>

<div class="new">
  <h1>New Post</h1>

  <form method="post" action="/new">
    <label>Title</label>
    <input type="text" name="title" value="<%= params['subject'] %>" /><br />
    <label>Summary</label>
    <textarea name="summary"><%= params['summary'] %></textarea><br />
    <label>Content</label>
    <textarea name="content"><%= params['content'] %></textarea><br />
    <label>Tags</label>
    <input type="text" name="tags" value="<%= params['tags'] %>" /><br />
    <button type="submit" name="submit" value="publish">Publish</button>
    <button type="submit" name="preview" value="preview">Preview</button>
  </form>
</div>

<% else %>

 <div class="new">
  <h1>New Post</h1>

  <form method="post" action="/new">
    <label>Title</label>
    <input type="text" name="title" value="<%= params['subject'] %>" /><br />
    <label>Summary</label>
    <textarea name="summary"><%= params['summary'] %></textarea><br />
    <label>Content</label>
    <textarea name="content"><%= params['content'] %></textarea><br />
    <label>Tags</label>
    <input type="text" name="tags" value="<%= params['tags'] %>" /><br />
    <button type="submit" name="submit" value="publish">Publish</button>
    <button type="submit" name="preview" value="preview">Preview</button>
  </form>
</div>

<% end %>
