<div class="post">
  <h3><%= @post[:title] %></h3>
  <p class="date">Posted <%= @post[:date].strftime("%b %d, %Y") %></p>
  <p><%= @post[:content] %></p>
  <h4 class="tags">
    <% if @post[:tags] %>
      <% @post[:tags].each do |tag| %>
        <a href="/tag/<%= tag[:link] %>"><%= tag[:tag] %></a>
      <% end %>
    <% end %>
  </h4>
</div>
