<div class="post">
  <h1><%= @post[:title] %></h1>
  <p class="date">Posted <%= @post[:date].strftime("%b %d, %Y") %></p>
  <%= @markdown.render @post[:content] %>
  <p class="tags">
    <% if @post[:tags] %>
      <% @post[:tags].each_with_index do |tag,index| %>
        <a href="/tag/<%= tag[:link] %>"><%= tag[:tag] %><% if @post[:tags].length-1 != index %>,<% end %></a>
      <% end %>
    <% end %>
  </p>
</div>
