<div class="post">
<h4><%= @search.length%> results for <%= @query.join ', ' %></h4>
<% @results.each do |post| %>
  <h3><a href="/<%= post[:id] %>/<%= post[:slug] %>"><%= post[:title] %></a> <span class="date"><%= post[:date] %></span></h3>
  <p>
    <%= post[:content] %>
  </p>
<% end %>
</div>

<div class="paginate">
  <% if @paginate > 9 %>
    <a href="?p=<%= @paginate-10 %>">Prev</a>
  <% end %>
  <% if @results.length > 9 %>
    <a href="?p=<%= @paginate+10 %>">Next</a>
  <% end %>
</div>
